@using System.Web.UI.WebControls
@using Group5ScrumProject.Models
@model Group5ScrumProject.Models.tbUser


@{
    ViewBag.Title = "Lägg till användare";
}

<h2>Lägg till ny användare</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ny användare</legend>
         <div class="editor-label">
            @Html.LabelFor(model => model.sUserName, "Namn")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sUserName)
            @Html.ValidationMessageFor(model => model.sUserName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.sUserLoginName, "Användarnamn")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sUserLoginName)
            @Html.ValidationMessageFor(model => model.sUserLoginName)
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.sUserPassword, "Lösenord")
        </div>
        <div class="editor-field">
          
             @Html.EditorFor(model => model.sUserPassword)
            @Html.ValidationMessageFor(model => model.sUserPassword)
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.sClass, "Klass")
        </div>
        <div class="editor-field">
          
            @Html.EditorFor(model => model.sClass)
            @Html.ValidationMessageFor(model => model.sClass)
        </div>
            <div class="editor-label">
            @Html.LabelFor(model => model.iUserRole, "Rättigheter")
        </div>
        <div class="editor-field">
          
    @Html.DropDownList("Role")
            @Html.ValidationMessageFor(model => model.iUserRole)
        </div>
         
       
        <p>
            <input type="submit" value="Skapa" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
