@using Group5ScrumProject
@model List<Group5ScrumProject.Models.Booking>
@{
    ViewBag.Title = "AdminBookingDelete";
}


<h2>Ta bort bokning</h2>
@using (Html.BeginForm("AdminBookingDelete", "Home", FormMethod.Post))
{    
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookingMadeByName</td>
                <td>@item.BookingRoomName</td>
                <td>@item.BookingDay.ToShortDateString()</td>
                <td>@item.BokingStartTime.ToString("hh\\:mm")</td>
                <td>@item.BokingEndTime.ToString("hh\\:mm")</td>
                <td>
                    @Html.ActionLink("Ta bort", "AdminBookingDelete", new { id = item.BookingId })
                </td>
            </tr>
        }
    </table>
    <br />
    <br />
    <input type="submit" value="Bekräfta borttagning" />
    <br />
    <br />
}


@Html.ActionLink("Tillbaka", "AdminViewSettings")