@{
    ViewBag.Title = "AdminViewSettings";
}
<br />
<h1>Admin inställningar:</h1>

<h2>Användare</h2>
@Html.ActionLink("Lägg till användare", "AdminUserAdd")
@Html.ActionLink("Editera användare", "AdminUserEdit")
@Html.ActionLink("Ta bort användare", "AdminUserDelete")
@Html.ActionLink("Lägg till från fil", "UploadFile")
<br />
<h2>Rum </h2>
@Html.ActionLink("Lägg till rum", "AdminRoomAdd")
@Html.ActionLink("Editera rum", "AdminRoomEdit")
@Html.ActionLink("Ta bort rum", "AdminRoomDelete")
<br />
<h2>Bokning</h2>
@Html.ActionLink("Lägga till bokning", "AdminBookingAdd")
@*@Html.ActionLink("Editera bokning", "AdminBookingEdit") *@
@Html.ActionLink("Ta bort Bokning", "AdminBookingDelete")
@Html.ActionLink("Se bookningshistorik", "AdminBookingHistories")
<br />
<br />
@Html.ActionLink("Tillbaka", "Index")
