@{
    ViewBag.Title = "AdminBookingAdd";
}

<h2>Lägg till bokning</h2>

<div id="addBooking">
    @using (Html.BeginForm())
    { 
            
        <p>Rum:</p>
        @Html.DropDownList("ddlRooms")
        <p>Dag:</p>
        <input data-val="true" value="@ViewBag.Date" name="day" type="date" />
        <p>
            Starttid:
            @Html.DropDownList("ddlTimeStart")
            Sluttid:
            @Html.DropDownList("ddlTimeEnd")
        </p>
        <p>Återkommande bokning detta datum 3 månader framöver: @Html.CheckBox("recurrent")</p>
        
        <input type="submit" value="Boka valt rum" />  
    }
    @ViewBag.BookingMessage
    @Html.ActionLink("Tillbaka", "AdminViewSettings")

</div>
