@*@using Group5ScrumProject

@{
    ViewBag.Title = "AdminBookingDelete";
}

<h2>AdminBookingDelete</h2>

<select id="ddl">
    @foreach (tbBooking booking in ViewBag.Bookings)
    {
        <OPTION name="ddlList" value="@booking.iRumId" SELECTED>Rum:@booking.iRumId, @booking.iBookingID, @booking.dtDateDay.ToString("MM-dd"), @booking.dtTimeStart.Hours:00 till @booking.dtTimeEnd.Hours:00 </option>
    }
    <option name="ddlBooking" value="ddlBooking" selected>Välj bokning</option>
</select>

<input id="Button1" type="button" value="Ta bort" />*@


@using Group5ScrumProject

@{
    ViewBag.Title = "AdminBookingDelete";
}


<h2>AdminBookingDelete</h2>
@using (Html.BeginForm("AdminBookingDelete", "Home", FormMethod.Post))
{    
    <table>
        @foreach (var item in ViewBag.Bookings)
        {
            <tr>
                <td>Rum: @item.iRumId</td>
                <td>@item.dtDateDay.ToShortDateString()</td>
                <td>@string.Format("{0:00}:{1:00}", item.dtTimeStart.Hours, item.dtTimeStart.Minutes)</td>
                <td>@string.Format("{0:00}:{1:00}", item.dtTimeEnd.Hours, item.dtTimeEnd.Minutes)</td>
                <td>
                    @Html.ActionLink("Ta bort", "AdminBookingDelete", new { id = item.iBookingID })
                </td>
            </tr>
        }
    </table>
    <br />
    <br />
    <input type="submit" value="Bekräfta borttagning" />
    <br />
    <br />
}
@Html.ActionLink("Tillbaka", "Index")