
@{
    ViewBag.Title = "AdminBookingAdd";
}
<div class="Content">
<h2>Lägg till bokning</h2>

<div id="addBooking">
    @using (Html.BeginForm())
    { 
      @Html.ValidationSummary()
             
        <p>Rum:</p>
        @Html.DropDownList("ddlRooms")
        <p>Dag:</p>
        <input data-val="true" value="@ViewBag.Date" name="day" type="date" />
        <p>
            Starttid:
            @Html.DropDownList("ddlTimeStart")
            Sluttid:
            @Html.DropDownList("ddlTimeEnd")
        </p>
        
        if (ViewBag.userRole == 1)
        {
        <p>Återkommande bokning detta datum 3 månader framöver: @Html.CheckBox("recurrent")</p>
        }    
        
        <input type="submit" value="Boka valt rum" />  
    }
    @ViewBag.BookingMessage
   
    @Html.ActionLink("Tillbaka", "Index")

</div>
    </div>