@{
    ViewBag.Title = "AdminViewSettings";
}
<br />
<h2>Admin User Settings</h2>
        @Html.ActionLink("Add User", "AdminUserAdd") 
        @Html.ActionLink("Edit User", "AdminUserEdit") 
        @Html.ActionLink("Delete User", "AdminUserDelete")
<br />
        <h2>Admin Room Settings</h2>
        @Html.ActionLink("Add Room", "AdminRoomAdd") 
        @Html.ActionLink("Edit Room", "AdminRoomEdit") 
        @Html.ActionLink("Delete Room", "AdminRoomDelete") 
<br />
<h2>Admin Booking Settings</h2>
        @Html.ActionLink("Add Booking", "AdminBookingAdd") 
        @Html.ActionLink("Edit Booking", "AdminUBookingEdit") 
        @Html.ActionLink("Delete Booking", "AdminBookingDelete")  
