@using Group5ScrumProject

@{
    ViewBag.Title = "AdminBookingDelete";
}

<h2>AdminBookingDelete</h2>

<select id="ddl">
    @foreach (tbBooking booking in ViewBag.Bookings)
    {
        <OPTION name="ddlList" value="@booking.iRumId" SELECTED>Rum:@booking.iRumId, @booking.iBookingID, @booking.dtDateDay.ToString("MM-dd"), @booking.dtTimeStart.Hours:00 till @booking.dtTimeEnd.Hours:00 </option>
    }
    <option name="ddlBooking" value="ddlBooking" selected>Välj bokning</option>
</select>

<input id="Button1" type="button" value="Ta bort" />