@model Group5ScrumProject.tbUser

@{
    ViewBag.Title = "Edit";
}

<h2>Editera användare</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Användare</legend>

        @Html.HiddenFor(modelitem => Model.iUserId)

        <div class="editor-label">
            Loginnamn
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.sUserLoginName)
            @Html.ValidationMessageFor(model => Model.sUserLoginName)
        </div>

        <div class="editor-label">
            Användarnamn
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.sUserName)
            @Html.ValidationMessageFor(model => Model.sUserName)
        </div>

        <div class="editor-label">
            Lösen
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.sUserPassword)
            @Html.ValidationMessageFor(model => Model.sUserPassword)
        </div>


        <div class="editor-label">
            Klass
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.sClass)
            @Html.ValidationMessageFor(model => Model.sClass)
        </div>
         <div class="editor-label">
            E-mail
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.Email)
            @Html.ValidationMessageFor(model => Model.Email)
        </div>
        <div>
            @Html.LabelFor(model => model.iBlocked, "Spärra")
        </div>
        <div>
            @Html.DropDownListFor(model => model.iBlocked, new SelectList(
new List<Object>{ 
new { value = 0 , text = "Ej spärrad" },
new { value = 1 , text = "Spärrad" }

},
"value",
"text",
2))
        </div>
        <p>
            <input type="submit" value="Spara" />
            <br />
            @ViewBag.Message
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka", "AdminUserEdit")
</div>
