@using Group5ScrumProject

@{
    ViewBag.Title = "Main";
}
Välkommen @ViewBag.User.sUserName - @ViewBag.User.sUserRole

          @Html.ActionLink("Admin Settings", "AdminViewSettings") 


@foreach (var r in ViewBag.Rooms)
{
    <p>
        Rumnamn: @r.sRoomName
        <br />
        Antal platser:  @r.iRoomChairs
    </p>
    

}

